@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="~/styles/custom.css" rel="stylesheet" />
    <title>Info</title>
    <style>
        .f1{
            flex:1;
            margin:2px;
            padding:20px;
            background-color:lightgray;
            text-align:center;
        }
        .self{
            height: 200px;
            width: 200px;
            border-radius:100%;
        }
    </style>
</head>
<body>
    <ul>
        <img src="../../images/volb.png" alt="Alternate Text" style="max-height:42px; margin-left: 25px; margin-top:1px" />
        <li class="active">@Html.ActionLink("O nás", "Info")</li>
        <li>@Html.ActionLink("Vyhľadať poslanca PSK", "Search")</li>
        <li>@Html.ActionLink("Vyhľadať volebnú miestnosť", "LookupVoting")</li>
        <li>@Html.ActionLink("Štatistiky poslancov", "Statistics")</li>
        <li>@Html.ActionLink("Domov", "Index")</li>

    </ul>
    <div>
        <div style="margin:20px;padding:10px">
            <h3>O nás:</h3>
            Sme "Microteam", tím štyroch študentov z rôzných častí Slovenská, ktorí sa spoznali v rámci vzdelávaceho programu Študentské Trénerské Centrum od spoločnsti Microsoft.</br>
            V prípade, že by ste mali otázky ohľadom aplikácie, kontaktujte nas.
        </div>
        <main style="margin:0;padding:20px; display:flex">

            <div class="f1">
                <img src="~/images/fb.jpg" class="self" alt="Alternate Text" />
                <h3>Filip Biľ</h3>
                <p>Študent Gymnázium Konštantínova 2, Prešov a <br>študent ŠTC a MSP</p>
                <img src="~/images/email.svg" alt="Image of email" style="width: 25px; float: left">
                <p class="men">filip.bil@studentpartner.com</p>

            </div>
            <div class="f1">
                <img src="~/images/ak.jpg" class="self" alt="Alternate Text" />
                <h3>Andrej Kapusta</h3>
                <p>Študent Bilingválne gymnázium Milana Hodžu, Sučany a <br>študent ŠTC a MSP</p>
                <img src="~/images/email.svg" alt="Image of email" style="width: 25px; float: left">
                <p class="men">andrej.kapusta@studentpartner.com</p>
            </div>
            <div class="f1">
                <img src="~/images/ek.jpg" class="self" alt="Alternate Text" />
                <h3>Elizabeth Karpukhina</h3>
                <p>Študentka Gymnázium, Ul. 1.mája 8, Malacky a <br>študentka ŠTC</p>
                <img src="~/images/email.svg" alt="Image of email" style="width: 25px; float: left">
                <p class="men">elizabeth.karpukhina@studentstc.sk</p>
            </div>
            <div class="f1">
                <img src="~/images/mm.jpg" class="self" alt="Alternate Text" />
                <h3>Matej Mazúr</h3>
                <p>Študent SPŠE-PO a <br>študent ŠTC a MSP</p>
                <br />
                <img src="~/images/email.svg" alt="Image of email" style="width: 25px; float: left">
                <p class="men">matej.mazur@studentpartner.com</p>
            </div>
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
