@model Hack2019PO.Models.AttendanceRecord
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chyba</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="~/styles/custom.css" rel="stylesheet" />
</head>
<body>
    <ul>
        <img src="../../images/volb.png" alt="Alternate Text" style="max-height:42px; margin-left: 25px; margin-top:1px" />
        <li>@Html.ActionLink("O nás", "Info")</li>
        <li class="active">@Html.ActionLink("Vyhľadať poslanca PSK", "Search")</li>
        <li>@Html.ActionLink("Vyhľadať volebnú miestnosť", "LookupVoting")</li>
        <li>@Html.ActionLink("Štatistiky poslancov", "Statistics")</li>
        <li>@Html.ActionLink("Domov", "Index")</li>
    </ul>
    <div style="text-align:center;margin: 10px 0 0 0">
        <h1 style="align-content:center">Ľutujeme, ale vami hľadaný objekt @Model.Name nebol nájdený :(</h1>
    </div>
</body>
</html>
