@model Hack2019PO.Models.SearchData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="~/styles/custom.css" rel="stylesheet" />
    <title>Dáta strany @Model.attendanceRecords[0].Party</title>
    <style>
        table {
            margin: 0 auto;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
            padding: 2px 4px;
        }

        thead {
            background-color: #A0A0A0;
        }

        tr:nth-child(odd) {
            background-color: #FFF;
        }

        .hore {
            margin-top: 20px;
        }
    </style>
</head>
<body>

    <ul>
        <img src="../../images/volb.png" alt="Alternate Text" style="height:44px; margin-left: 25px; margin-top:1px" />
        <li class="active">@Html.ActionLink("Vyhľadať poslanca PSK", "Search")</li>
        <li>@Html.ActionLink("Vyhľadať voStatisticsmiestnosť", "LookupVoting")</li>
        <li>@Html.ActionLink("Štatistiky poslancov", "")</li>
        <li>@Html.ActionLink("Domov", "Index")</li>
    </ul>
    <div class="hore" style="overflow-x:auto;">
        <table style="width: 700px;">
            <thead>
                <tr>
                    <td>Číšlo zasadnutia</td>
                    <td>Dátum zasadnutia</td>
                    <td>Poslanec</td>
                    <td>Politická strana</td>
                    <td>Prítomnosť</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.attendanceRecords)
                {
                    <tr>
                        <td>@data.SessionID</td>
                        <td>@data.SessionDate</td>
                        <td>@data.Name</td>
                        <td>@Hack2019PO.Internals.Prettifiers.PrettifyPartyName(data.Party)</td>
                        <td>@data.Attended</td>
                    </tr>
                }
            </tbody>
        </table>
        <br /><br />
        <table style="max-width:900px">
            <thead>
                <tr>
                    <td>Zasadnutie</td>
                    <td>Číslo bodu programu</td>
                    <td>Bod programu</td>
                    <td>Meno poslanca</td>
                    <td>Poznámka</td>
                    <td>Hlasoval</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.votingRecords)
                {
                <tr>
                    <td >@data.Session</td>
                    <td style="max-width:100px">@data.ProgramNumber</td>
                    <td style="max-width:400px">@data.ProgramPoint</td>
                    <td style="max-width:125px">@data.Person</td>
                    <td style="max-width:150px">@data.Note</td>
                    <td>@data.Vote</td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</body>
</html>