@model Hack2019PO.Models.StreetData
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/styles/custom.css">
    <title>Volebné miestnosti</title>
</head>
<body>
    <ul>
        <img src="../../images/volb.png" alt="Alternate Text" style="height:49px; margin-left: 25px; margin-top:2px" />
        <li>@Html.ActionLink("Vyhľadaj poslanca PSK", "Search")</li>
        <li class="active">@Html.ActionLink("Vyhľadať volebnú miestnosť", "LookupVoting")</li>
        <li>@Html.ActionLink("Štatistiky poslancov", "Statistics")</li>
        <li>@Html.ActionLink("Domov", "Index")</li>
    </ul>
    <br /><br />

    <div style="margin-left:50px">
        <h3>Nájdite si najbližšiu volebnú miestnosť : </h3>
        <form action="VotingRoom" method="POST">
            @Html.DropDownListFor(x => x.Address, new SelectList(Hack2019PO.Internals.OpenDataHandler.Streets, Hack2019PO.Internals.OpenDataHandler.Streets[0]))
            @Html.TextBoxFor(x => x.Number, new { @Value="1"})
            <input type="submit" value="Vyhľadať najbližšiu volebnú miestnosť" />
        </form>
        <br />
        <h3>Alebo si pozrite všetky aktuálne volebné miestnosti</h3>
        @Html.ActionLink("Zobraziť všetky volebné miestnosti", "VotingRoom")
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>